:root {
  --primary-color: #221f2b;
  --secondary-color: #676279;
  --accent-color: #6f55b5;
}
body {
  background-color: var(--primary-color);
  color: white;
}

h1 {
  font-weight: 700;
  font-size: x-large;
}

.accented {
  color: var(--accent-color);
}
.logo {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
li:hover,
.li-active {
  opacity: 0.5;
}
.li-active {
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.modal {
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 10px;
}
input:not([type="checkbox"]),
button,
select {
  min-width: 100%;
  box-sizing: border-box; /* Include padding in the width */
  height: 55px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 1px 1px var(--primary-color);
}

input:focus {
  outline-width: 5px;
  outline-color: var(--accent-color);
}
.flash {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  box-shadow: 2px;
  background-color: white;
  color: var(--primary-color);
  opacity: 0.9;
  border-radius: 5px;
  padding: 10px;
}
button {
  background-color: var(--accent-color) !important;
  font-size: smaller;
}
.cancel,
.confirm {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 10px;
}
.confirm {
  background-color: var(--primary-color) !important;
}
label {
  font-size: x-small;
  opacity: 0.5;
}

aside {
  box-shadow: 0.5px 0.5px var(--secondary-color);
  background-color: var(--accent-color);
}
table {
  background-color: var(--accent-color);
  border-radius: 10px;
}

td,
tr {
  padding: 15px;
  overflow: hidden;
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
tr:hover {
  opacity: 0.5;
}
thead {
  font-family: "Playwrite GB S", cursive;
}
i:hover {
  cursor: pointer;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
