{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="grid grid-cols-2 h-[100vh] p-4">
  <div class="bg-red-400 rounded-lg mx-2">
    <img
      class="w-full h-full"
      src="{{url_for('static', filename='images/loginbg.jpg')}}" />
  </div>
  <div class="flex flex-col items-center justify-center mx-auto">
    <h1 class="poppins-semibold text-5xl my-2">Log into account</h1>
    <div class="my-4 flex align-self-start w-full poppins-light text-white/70">
      <p class="">
        Don't have an account?
        <span class="underline accented"
          ><a href="{{url_for('auth.register')}}">Sign up</a></span
        >
      </p>
    </div>
    <form method="post" class="mt-16 w-full">
      <div class="mb-8">
        <input
          class="p-4"
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          required />
      </div>
      <div class="mb-8">
        <input
          class="p-4"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required />
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>
{% endblock %}
