{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="grid grid-cols-2 h-[100vh] p-4">
  <div class="bg-red-400 rounded-lg mx-2">
    <img
      class="w-full h-full"
      src="{{url_for('static', filename='images/loginbg.jpg')}}" />
  </div>
  <div class="flex flex-col items-center justify-center mx-auto">
    <h1 class="poppins-semibold text-5xl my-2">Create an account</h1>
    <div class="my-4 flex align-self-start w-full poppins-light text-white/70">
      <p class="">
        Already have an account.
        <span class="underline accented"
          ><a href="{{url_for('auth.login')}}">Log in</a></span
        >
      </p>
    </div>
    <form method="post" class="mt-16 w-full">
      <div class="flex grid grid-cols-2 gap-2">
        <div class="mb-8">
          <input
            name="first_name"
            id="first_name"
            class="p-4"
            placeholder="first name"
            required />
        </div>
        <div class="mb-8">
          <input
            name="last_name"
            id="last_name"
            class="p-4"
            placeholder="last name"
            required />
        </div>
      </div>
      <div class="mb-8">
        <input
          class="p-4"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required />
      </div>
      <div class="mb-8">
        <input
          class="p-4"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required />
      </div>
      <div class="flex grid grid-cols-2 gap-2">
        <div class="mb-8">
          <label for="date_of_birth">Enter date of birth</label>
          <input
            type="date"
            name="date_of_birth"
            id="date_of_birth"
            class="p-4"
            placeholder="date of birth"
            required />
        </div>
        <div class="mb-8">
          <label for="department">Select department</label>
          <select name="department" id="department">
            <option value="0">Select department</option>
            {%for opt in departmentOpts%}
            <option value="{{opt}}">{{opt}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <div class="mb-8">
        <input type="hidden" name="is_admin" value="0" />
        <input type="checkbox" name="is_admin" id="is_admin" value="1" />
        <span>Are you an admin</span>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}
