<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <script
    src="https://kit.fontawesome.com/afadbc8ab9.js"
    crossorigin="anonymous"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>
<body class="poppins-regular flex">
  {%if g.user%}
  <aside
    class="flex h-[100vh] w-[300px] border-r border-r-slate-50/20 flex flex-col px-4">
    <h1 class="py-4 flex text-center text-2xl logo">Premiere</h1>
    <ul class="mt-24">
      <li
        class="my-8 p-4 rounded-lg {%if request.path == url_for('index')%} li-active{%endif%}">
        <a href="{{url_for('index')}}"
          ><i class="fa-solid fa-house pr-4"></i>Home</a
        >
      </li>
      <li
        class="my-8 p-4 rounded-lg {%if request.path == url_for('post.create_user')%} li-active{%endif%}">
        <a href="{{url_for('post.create_user')}}"
          ><i class="fa-solid fa-user pr-4"></i>Create user</a
        >
      </li>

      <li class="my-8 p-4 rounded-lg">
        <a href="{{url_for('post.update_profile')}}"
          ><i class="fa-solid fa-sliders pr-4"></i>Profile</a
        >
      </li>
    </ul>

    <ul class="mt-auto">
      <li class="my-4 p-4">
        <a href="{{url_for('auth.logout')}}">
          <i class="fa-solid fa-right-from-bracket pr-4"></i>Log out</a
        >
      </li>
    </ul>
  </aside>
  {%endif%}

  <section class="flex-grow">
    <header>{% block header %}{% endblock %}</header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
  </section>
</body>
